h1{
    color: blue;
}

.abc{
    font-size: 30px;
}

div{
    background-color: orange;
    width: 610px;
}

.mainheading{
    font-size: 60px;
    background-color: paleturquoise;
}

a{
    font-size: 30px;
}
