h1{
    color: red;
}

/* p{
    background-color: brown;
    color: chartreuse;
}

.awesome{
    background-color: coral;
}
.moreawesome{
    font-size: 100px;
}
#three{
    background-color: cornflowerblue;
} */